<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <ul class="list-inline">
        <li><%= link_to 'wikinimous', articles_path %></li>
        <li><%= link_to 'Add a new article', new_article_path %></li>
      </ul>
    </div>

    <%= yield %>

  </body>
</html>
